* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fm-texting: 'Staatliches', cursive;
  --fm-heading: 'Palanquin', sans-serif;

  --bg-header: #8E9AAF;
  --fc-heading: hsla(0, 0%, 100%, 1);
  --fc-body: hsla(274, 84%, 12%, 1);
  --white: #FFFFFF;
  --bg-body: #EFF1FF;
  
  font-size: 62.5%;
  --fs-body: 1.6rem;
}

body {
  font-family: var(--fm-texting);
  font-size: var(--fs-body);

  font-size: var(--fs-body);

  background-color: var(--bg-body);
}

.page {
  margin: 0 auto;
  max-width: 32rem;
}

header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-header);

  margin-bottom: 1.4rem;
  padding-bottom: 2.9rem;
}

header img {
  width: 137px;
  height: 137px;

  animation: fromleft 2s forwards;
}

.wrapper-h1 {
  width: 100%;
  text-align: center;
  background-color: #CBC0D3;
}

header h1 {
  font-family: var(--fm-heading);
  font-weight: 400;
  font-size: 4rem;
  font-weight: 700;

  line-height: 34px;
  letter-spacing: 0.05em;

  color: var(--fc-heading);
 

  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 0.8rem 0;

  animation: fromrigth 2s forwards;
}

main {
  text-align: center;
  font-size: 1.5rem;
  color: var(--fc-body);

  padding-bottom: 5rem;
}

main p {
  font-family: var(--fm-heading);
  font-size: 2rem;
  line-height: 20px;
}

.cards {
  max-width: 56.438rem;
  margin-top: 6.3rem;
  display: grid;
  gap: 3.2rem;

  grid-template-areas: "A B" 
  "D B" 
  "D C";
}

.cards .card {
  max-width: 13.75rem;
  height: auto;
}


.cards div:nth-child(1) {
  grid-area: A;
}

.cards div:nth-child(2) {
  grid-area: B;
}

.cards div:nth-child(3) {
  grid-area: C;
}

.cards div:nth-child(4) {
  grid-area: D;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  
  border-radius: 20px;
}

.card div:nth-child(2) {
  position: absolute;
  top: 16px;
  right: 16px;

  background-color: #FEEAFA;
  padding: 1rem 2.3rem;
  border-radius: 20px;
  text-transform: uppercase;
}

.card h3 {
  font-family: var(--fm-texting);
  font-size: 2rem;
  color: #4A4E69;
  letter-spacing: 0.5;

  animation: topdown 2s forwards;
}

@keyframes fromrigth {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-17px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}